@use "../abstracts" as *;

//CTA BUTTON

.hero__btn {
  opacity: 0;
}

.hero__btn,
.hero__btn::after {
  width: 8rem;
  text-align: center;
  font-size: 1rem;
  padding: 0.6rem 0;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(45deg, transparent 5%, #7510F7 5%);
  border: 0;
  color: #fff!important;
  filter: drop-shadow(1px 5px 10px rgba(1, 1, 1, 0.6));
  position: relative;

  @include breakpoint(large) {
    padding: 0.7rem 0;
    width: 9rem;
  }
}


.hero__btn::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "AVAILABLE NOW";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #7510F7 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.hero__btn:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

//THEME SWITCH

.theme-switch {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  transition: ease-in 300ms;

  @include breakpoint(medium) {
    margin: 0 2rem;
  }
}

.theme-switch:hover {
  transform: scale(1.1);
}

.theme-switch:active {
  transform: scale(0.95);
}

.hide {
  display: none;
}

//SCROLLDOWN BUTTON

.scrolldown-btn {
  opacity: 0;
  position: relative;
  bottom: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  height: fit-content;
  align-self: end;
  transition: 0.3s ease-in-out;
  padding-bottom: 1rem;
  width: fit-content;
  justify-self: center;
  @include breakpoint(large) {
    font-size: 1.5rem;
  }
}



.scrolldown-btn:hover {
  transform: scale(1.1);
  color: $color-primary;
}

.scrolldown-btn--contrast:hover {
  color: #000;
}

.bounce {
  position: relative;
  bottom: -10px;
  transition: 0.2s cubic-bezier(.17,.16,.13,.17);
}

