@use "../abstracts" as *;

.cta-button {
    background: rgb(48 40 193 / 20%);
    font-weight: $fw-secondary;
    border-radius: 0.2rem;
    padding: 0.6rem 2rem;
    border: solid 2px $color-primary;
    cursor: pointer;
}

.cta-button:hover {
    transform: scale(1.02);
    transition: $transition-one;
    color: $color-primary;
}

.theme-switch {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
}

.theme-switch:hover {
    transform: scale(1.2);
    transition: ease-in 200ms;
}

.theme-switch:active {
    transform: scale(1);
    transition: ease-in 100ms;
}

.hide {
    display: none;
}