@use "../abstracts" as *;

.contact {
  min-width: min-content;
  background: $color-primary;
  padding: 5rem 0;
  &__text {
    color: white;
    opacity: 0;
    transition: 0.8s ease-in-out;
    text-align: center;
    margin-bottom: 3rem;
    @include breakpoint(large) {
      margin-bottom: 5rem;
    }
  }
}