@use "../abstracts" as *;

.footer {
    @extend %center;
    flex-direction: column;
    padding: 1rem 0;

//COPYRIGHT
    &__copyright {
        margin-top: 1rem;
        font-size: 0.875rem;
        text-align: center;
    }
}