@use "../abstracts" as *;

.footer {
    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        padding: 8rem 0 5rem;
        @include breakpoint(large) {
            justify-content: space-between;
            align-items: center;
        }

    }

    &__banner {
        min-width: 15rem;
        text-align: center;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        background: #f3f4f6;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        @include breakpoint(medium) {
            padding: 1rem 3rem;
        }
    }

    &__title {
        font-size: 1.5rem;
        @include breakpoint(large) {
            font-size: 2rem;
        }       
    }

//COPYRIGHT
    &__copyright {
        color: #D5D5D5;
        opacity: 0.7;

        text-align: center;
    }
}

.dark-theme .footer__banner {
    color: #D5D5D5;
    background: $color-bg;
}

.light-theme .footer__copyright {
    opacity: 1;
    color: rgba(0,0,0,.7);
}