@use "../abstracts" as *;

//HAMBURGER MENU

.hamburger-container {
  z-index: 1000;
  justify-self: end;
}

.hamburger {
  position: initial;
  cursor: pointer;
  z-index: 1000;
  &__hamburger:hover {
    transition: $transition-one;
  }
  &__hamburger:focus {
    outline: none;
  }
  &__bar,
  &__bar--light {
    display: block;
    width: 30px;
    height: 3px;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    @include breakpoint(large) {
      width: 35px;
      height: 4px;
    }
  }
  &__bar {
    background-color: #fff;
  }
  &__bar--light {
    background-color: #000;
  }
  &:hover .hamburger__bar,
  &:hover .hamburger__bar--light {
    background-color: #04aa6d;
  }
  &.active .hamburger__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  &.active .hamburger__bar:nth-child(2) {
    opacity: 0;
  }
  
  &.active .hamburger__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  &.active .hamburger__bar--light:nth-child(2) {
    opacity: 0;
  }
  
  &.active .hamburger__bar--light:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  &.active .hamburger__bar--light:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}