@use '../abstracts' as *;

.header {
    color: white;

    .logo {
        font-family: 'Permanent Marker', cursive;
        font-size: 1.2rem; 
        transform: skew(-0.01turn, -5deg);
    }

    .logo__symbol {
        color: aqua;
    }

    .logo__symbol--hide {
        display: none;
    }
    
    .logo:hover .logo__symbol { 
        color: white;
        transition: ease-in-out 500ms;
    }
}

@media screen and (min-width: 36em) {
    .header {
        .logo {
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-width: $layout-breakpoint-desktop) {
    .header {
        .logo {
            font-size: 1.8rem;
        }
        .logo__symbol {
            color: aqua;
            display: inline-block;
        }
    }
}