@use "../abstracts" as *;

.hero {
    background: url(/src/img/output-onlinepngtools.png) no-repeat;
    .hero-container {
        padding-top: 2rem;
        padding-right: 2rem;
    }
    &__img {
        border-radius: 0.5rem;
        max-width: 7rem;
        height: auto;
        margin: 0 auto;
        z-index: 3;
        transition: ease-in-out 1s;
        @include breakpoint(large) {
            max-width: 10rem;
          }
    }
    &__img:hover{
        transform: scale(1.05);
    }
    &__description {
        font-weight: $fw-secondary;
        margin-bottom: 4rem;
    }
}
