@use "../abstracts" as *;

.hero {
    height: 100%;
    display: grid;
    align-items: center;
    &__container {
        display: grid;
        gap: 3rem;
        @include breakpoint(large) {
          grid-template-columns: 2fr 1fr;
          gap: 2rem;
        }
        @media screen and (min-height: 800px) and (max-width: 1000px) {
          gap: 6rem;
        }
    }

    &__left {
      height: fit-content;
      align-self: center;
    }

    &__text {
        max-width: 50rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include breakpoint(small) {
          display: grid;
          text-align: initial;
        }
    }

    &__picture {
      align-self: center;
      max-width: 150px;
      margin: 0 auto;

      @include breakpoint(small) {
        max-width: 225px;
      }
      @include breakpoint(medium) {
        max-width: 275px;
      }
      @include breakpoint(large) {
        max-width: initial;
      }
    }

    .ob {
      background: $color-primary;
      border-top-left-radius: 80px 80px;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      transition: 0.8s ease-in-out;
      @include breakpoint(large) {
        background: none;
      }
    }

    .ob:hover {
      background: $color-primary;
      border-top-left-radius: 80px 80px;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }

    .ob:hover  &__author-img {
      @include breakpoint(large) {
        transform: scale(0.85);
      }
    }

    &__author-img {
      border-radius: 50%;
      position: relative;
      transition: .7s ease-in-out;
    }

    &__title {
        opacity: 0;
        transform: translateY(200%);
        font-size: 3rem;
        margin-bottom: 0.5rem;
        line-height: 1;
        @include breakpoint(medium) {
          font-size: 3.5rem;
        }
        @include breakpoint(large) {
          margin-bottom: 0;
          font-size: 4rem;
        }
    }

    &__description {
        opacity: 0;
        transform: translateY(200%);
        margin-bottom: 2rem;
        font-weight: 500;
        font-size: 1.1rem;
        @include breakpoint(large) {
            font-size: 1.35rem;
        }
    }
}

.light-theme {
  .hero__description {
    color: rgba(0,0,0,0.7);
  }
} 

.dark-theme {
  transition: ease-in-out 0.5s;
  .hero__description {
    color: #D5D5D5;
  }
} 

.active {
  transform: translateY(0%);
  transition: 400ms ease-in;
  opacity: 1 !important;
}



