@use "../abstracts" as *;

.hero {
    .hero-container {
        padding: 5rem 0;
        width: clamp(16rem, 80vw, 75rem);
        margin-left: auto;
        margin-right: auto;
        display: grid;
        gap: 1rem;
        @include breakpoint(large) {
            padding: 15rem 3rem 10rem;
            width: clamp(16rem, 80vw, 85rem);
            margin-left: auto;
            margin-right: auto;
            display: grid;
            gap: 1rem;
          }
    }

    &__text {
        max-width: 50rem;
    }

    &__title {
        font-size: 2.4rem;
        line-height: 1;
        margin-bottom: 1rem;
        @include breakpoint(medium) {
            font-size: 4rem;
            margin-bottom: 0;
          }
        @include breakpoint(large) {
            font-size: 5rem;
            margin-bottom: 0;
          }
    }

    &__description {
        margin-bottom: 3rem;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.7;
        @include breakpoint(medium) {
            font-size: 1.2rem;
          }
        @include breakpoint(large) {
            font-size: 1.3rem;
          }
    }
}




