@use "../abstracts" as *;

a, a:visited {
  color: inherit;
}

a:hover {
  color: $color-hover;
  transition: $transition-one;
}

a:focus {
  outline-color: $color-primary;
  outline-offset: 0.2rem;
  outline-style: dotted;
  outline-width: 0.15rem;
}

.nav__item {
  position: relative;
}

.nav__item::after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  background-color: black;
  left: 0;
  bottom: -2px;
}

.nav__item[modified]::after {
  background-color: black;
}

.nav__item:hover::after {
  width: 100%;
  transition: 0.5s ease-in-out;
}