@use "../abstracts" as *;

a, a:visited {
  color: inherit;
}

a:hover {
  color: $color-hover;
  transition: $transition-one;
}

a:focus {
  outline-color: $color-primary;
  outline-offset: 0.2rem;
  outline-style: dotted;
  outline-width: 0.15rem;
}

.nav__item {
  transition: ease-in-out 900ms;
}