@use "../abstracts" as *;

.nav {
  padding: 1rem 0;

  //LOGO

  .logo {
    max-width: 175px;
    transition: ease-in-out 200ms;
  }

  .logo:hover {
    opacity: 0.8;
  }

  .nav__menu .logo, .nav__menu--light .logo  {
    max-width: 200px;
  }

  .nav__menu .logo:hover, .nav__menu--light .logo:hover {
    transform: scale(1.05);
    opacity: 1;
  }

  .symbol {
    font-weight: $fw-secondary;
  }

  .symbol--hide {
    display: none;
    @include breakpoint(large) {
      display: inline-block;
  }
  }

  //HAMBURGER MENU
  &__hamburger {
    cursor: pointer;
    z-index: 1000;

    @include breakpoint(large) {
      position: fixed;
      transform: translate(-100%, -50%);
    }

    &__hamburger:hover {
      transition: $transition-one;
    }

    &__hamburger:focus {
      outline: none;
    } 
  }



  //HAMBURGER BARS
  .bar, .bar--light {
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    transition:  all 0.3s ease-in-out;
    border-radius: 5px;
  }

  .bar {
    background-color: white;
  }

  .bar--light {
    background-color: black;
  }

  &__hamburger:hover .bar,
  &__hamburger:hover .bar--light {
    background-color: $color-hover;
  }



    
  
    //Bars transition
  &__hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  &__hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  &__hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  &__hamburger.active .bar--light:nth-child(2) {
    opacity: 0;
  }

  &__hamburger.active .bar--light:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  &__hamburger.active .bar--light:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }



  //NAV RIGHT MENU
  &__right {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    @include breakpoint(large) {

     }
  }

  &__right div {
    z-index: 1000;
  }

  &__menu, &__menu--light {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: fixed;
    left: -100%;
    top: 0;
    font-size: 1.125rem;
    font-weight: $fw-secondary;
    width: 100%;
    transition: ease-in-out 0.3s;
    z-index: 100;

    @media screen and (max-height: 500px) {
      overflow: scroll;
    }
  }
  
  &__menu.active, &__menu--light.active {
    left: 0;
    font-size: 1.5rem;
    padding: 10rem 0;
    height: 100vh;

    @media screen and (max-height: 425px) {
      padding: 4rem 0 0;
    }
    @include breakpoint(large) {
     /* height: initial;*/
     font-size: 2rem;
     padding: 15rem 0;
    }
  }

  &__menu.active {
    background-color: #000;
  }

  &__menu--light.active {
    background-color: #fff;
  }

  &__menu--desktop {
    display: none;
    @include breakpoint(large) {
      display: flex;
      gap: 2rem;
      font-weight: $fw-secondary;
      transition: 0.3s;
     }

  }


  &__item {
    background-size: cover;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    transition: all 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }

  &__item:hover {
    background-color: white;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    transform: rotate(-15deg);
    transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  }
  &__item:hover ~ * {
    opacity: 1;
    transform: rotate(-15deg);
    transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  }


  &__menu li, &__menu--light li {
    display: grid;
    justify-items: center;
    filter: drop-shadow(0px 0px 7px rgba(1, 1, 1, .3));
  }
 
  &__item--desktop {
    transition: ease-in-out 0.3s;
  }
}