@use "../abstracts" as *;

.nav {
  padding: 1rem 0;

  //LOGO
  &__logo {
    font-family: $ff-secondary;
    font-size: $font-2xlg;
    transition: ease-in-out 500ms;
    @include breakpoint(large) {
      font-size: $font-3xlg;
    }
  }

  &__logo:hover .symbol {
    color: black;
    transition: $transition-one;
  }

  .symbol--hide {
    display: none;

    @include breakpoint(large) {
      display: inline-block;
  }
  }

  //HAMBURGER MENU
  &__hamburger {
    color: inherit;
    font-size: 2rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    @include breakpoint(large) {
        display: none;
    }
  }

  &__hamburger:hover {
    color: $color-hover;
    transition: $transition-one;
  }

  &__hamburger:focus {
    outline: none;
  }

  //NAV RIGHT
  &__right {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  &__ul {
    align-self: center;
    display: none;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    font-size: $font-med;
    font-weight: $fw-secondary;

    @include breakpoint(large) {
      display: flex;
      flex-direction: row;
      width: initial;
    }
  }

  &__ul.show {
    @extend %center;
  }
}