@use "../abstracts" as *;

.navigator {
    margin-right: 2rem;
    position: fixed;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%) !important;
    display: none;
    opacity: 0;
    @include breakpoint(large) {
      display: flex;
      flex-direction: column;
      padding: 0.6rem;
      gap: 2rem;
    }
    &__item {
      font-size: 0.7rem;
        cursor: pointer;
        padding: 0.15rem;
        transition: 0.4s ease-in-out;
        border-radius: 1.5px;
        filter: drop-shadow(0px 0px 7px rgba(1, 1, 1, 0.2));
        @include breakpoint(xlarge) {
          padding: 0.2rem;
        }
        @include breakpoint(2xlarge) {
          padding: 0.25rem;
        }
    }
    &__item:hover {
        background: black;
        border-radius: 1rem;
        color: #7510F7;
    }  
  }
