@use "../abstracts" as *;

//SOCIALS
.socials {
  gap: 1.3rem;
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.5rem;
  @include breakpoint(large) {
    font-size: 1.8rem;
  }
  &__hover {
    transition: ease-out 0.1s;
  }
  &__hover:hover {
    position: relative;
    bottom: 0.3rem;
  }
  &:hover > a {
    transform: scale(0.95);
    filter: blur(1.5px);
  }

  a:hover {
    transform: scale(1.1);
    filter: blur(0px);
  }
}

//SOCIALS BAR

.socials--bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%) !important;
}

.light-theme {
  .socials--bar {
    display: none;
    opacity: 0;
    @include breakpoint(large) {
      font-size: 1.7rem;
      display: flex;
      flex-direction: column;
      background: white;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 0.6rem;
      gap: 1rem;
      filter: drop-shadow(0px 0px 7px rgba(1, 1, 1, 0.3));
    }
  }
}

.dark-theme {
  .socials--bar {
    display: none;
    opacity: 0;
    @include breakpoint(large) {
      font-size: 1.7rem;
      display: flex;
      flex-direction: column;
      background: rgb(0, 0, 0);
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 0.6rem;
      gap: 1rem;
      filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.3));
    }
  }
}

//FOOTER SOCIALS

.footer {
  .socials {
    display: flex;
  }
}
