@use "../abstracts" as *;

//SOCIALS
.socials {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    font-size: 1.5rem;
    margin: 3rem 0 4rem;
    @include breakpoint(large) {
        align-items: center;
        font-size: 2rem;
    }
    &__hover {
        transition: ease-out 0.3s;
    }
}