@use "../abstracts" as *;

//SOCIALS
.socials {
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.5rem;
    margin-top: 1rem;
    @include breakpoint(large) {
        align-items: center;
        font-size: 2rem;
    }
    &__hover {
        transition: ease-out 0.1s;
    }
    .socials a:hover &__hover{
        position: relative;
        bottom: 0.3rem;
    }

}

.socials:hover > a {
    transform: scale(0.95);
    filter: blur(1.5px);
}

.socials a:hover {
    transform: scale(1);
    filter: blur(0px);
}

.footer .socials {
    margin-top: 0;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    width: fit-content
}