@use "../abstracts" as *;

body {
    background: $color-bg;
    font-size: $font-sm;
    color: $color-secondary;
    font-family: $ff-primary;
    line-height: 1.6;
    
    @include breakpoint(large) {
      font-size: $font-med;
  }
  .accent {
    color: $color-primary;
  }
}

.light-theme {
  background: $color-bg-light;
  color: $color-font-light; 
}

