// Setting the box sizing to border-box in order to become easier to deal
//with box sizes. We also reset both margin and padding to 0.
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Reseting margins and padding. Adding the overflow-wrap property to break words.

* {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

// Setting core body defaults
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Lists default styling will be removed

ul,
ol {
  list-style: none;
}

// Anchor elements get default styles

a {
  text-decoration: none;
}

// Make images easier to work with
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  color: inherit;
  font: inherit;
}

// Remove all animations, transitions and smooth scroll for people that prefer not to see them 
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    opacity: 1 !important;
    transform: none !important;
  }
}
