//COLORS
$color-primary: hsl(262, 75%, 63%); 
$color-secondary: hsl(220, 16%, 96%);
$color-hover: hsl(262, 75%, 63%); 
$color-bg: hsl(0, 0%, 0%);
$color-bg-light: hsl(360, 100%, 100%);
$color-font-light: hsl(0, 0%, 0%);

//TYPOGRAPHY
$font-sm: 0.875rem; // 14px
$font-med: 1rem; // 16px
$font-lg: 1.25rem; // 20px
$font-xlg: 1.7rem; // 24px
$font-2xlg: 2rem; // 28px
$font-3xlg: 2.2rem; // 32px
$ff-primary: "Poppins", sans-serif;
$ff-secondary: 'Permanent Marker', cursive;
$fw-primary: 400;
$fw-secondary: 600;

//TRANSITIONS

$transition-one: ease-in-out 300ms;
$angle: 25deg;

//BREAKPOINTS

$breakpoints: (
    small: 36em,
    medium: 48em,
    large: 62em,
    xlarge: 75em
);
$layout-breakpoint-tablet: 36em;
$layout-breakpoint-desktop: 62em;