@use "../abstracts" as *;

//CONTAINERS

  .l-container {
    width: clamp(16rem, 90vw, 100rem);
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
  }

  .m-container {
    width: clamp(16rem, 90vw, 90rem);
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
  }

  .s-container {
    width: clamp(16rem, 80vw, 70rem);
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    @include breakpoint(large) {
      width: clamp(16rem, 85vw, 85rem);
  }
  }

//HEADER

  .header {
    display: grid;
    min-height: 100vh;
    gap: 2rem;
    position: relative;
  }

  .area{
    position: absolute;
    left: 0;
    top: 0; 
    width: 100%;
    height:100%;
    z-index: -1000;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #7510F7;
    animation: animate 45s ease infinite;
    bottom: -150px;
    transition: 2s ease-in-out;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
    display: none;
    @include breakpoint(small) {
      display: initial;
      width: 70px;
      height: 70px;
    }
}


.circles li:nth-child(2){
    left: 10%;
    width: 30px;
    height: 30px;
    animation-delay: 2s;
    animation-duration: 22s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    display: none;
    @include breakpoint(small) {
      display: initial;
    }
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 28s;
    display: none;
    @include breakpoint(small) {
      display: initial;
    }
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 40px;
    height: 40px;
    animation-delay: 3s;
    @include breakpoint(small) {
      width: 90px;
      height: 90px;
    }
}

.circles li:nth-child(7){
    left: 35%;
    width: 50px;
    height: 50px;
    animation-delay: 7s;
    display: none;
    @include breakpoint(small) {
      display: initial;
      width: 90px;
      height: 90px;
    }
}

.circles li:nth-child(8){
    left: 50%;
    width: 35px;
    height: 35px;
    animation-delay: 15s;
    animation-duration: 40s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
    display: none;
    @include breakpoint(small) {
      display: initial;
    }
}

.circles li:nth-child(10){
    left: 85%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 21s;
    @include breakpoint(small) {
      display: initial;
      width: 100px;
      height: 100px;
    }
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    50%{
      transform: translateY(-500px) rotate(360deg);
      opacity: 0.4;
      border-radius: 50%;

  }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}




//SECTION

  .section {
    display: grid;
    align-content: center;
    &__title {
      font-size: 3rem;
      line-height: 1;
      @include breakpoint(medium) {
        font-size: 3.25rem;
      }
      @include breakpoint(large) {
        font-size: 3.5rem;
      }
    }
    &__subtitle {
      font-size: 1.15rem;
      @include breakpoint(medium) {
        font-size: 1.3rem;
      }
      @include breakpoint(large) {
        font-size: 1.45rem;
      }
    }
  }

//THEMES

  .light-theme {
    .hero__description {
      color: rgba(0,0,0,0.7);
    }
  } 
  
  .dark-theme {
    transition: ease-in-out 0.5s;
    .hero__description {
      color: #D5D5D5;
    }
  } 

//STATES

  .active {
    transform: translateY(0%);
    transition: 400ms ease-in;
    opacity: 1 !important;
  }

  .hide {
    display: none;
  }

  .overflow-hidden {
    overflow: hidden;
  }